
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3 offset-lg-1">
        <div class="phone">
          <img src="../../assets/img/iphone5s-ns.png" class="img-responsive img-fluid">
          <div class="iphone5-screen ">
            <div id="carouselExampleInterval" class="carousel slide " data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner ">
                <div class="carousel-item active  ">
                  <div class="page1" class="responsive">
                    <div class="outputdata d-flex flex-column justify-content-between " id="chat">
                      <div class="new">
                        <div class="firstchat">
                          <img src="../../assets/img/9.jpg" class="img-fluid">
                          
                        </div>
                        <div class="secondchat">
                          <img src="../../assets/img/2.jpg" class="img-fluid">
                          
                        </div>
                        <div class="thirdchat">
                          <img src="../../assets/img/9.jpg" class="img-fluid">
                          <h6></h6>
                        </div>
                        <div class="fourchat">
                          <img src="../../assets/img/2.jpg" class="img-fluid">
                          <h6></h6>
                        </div>
                        <div class="fivechat">
                          <img src="../../assets/img/9.jpg" class="img-fluid">
                          <h6></h6>
                        </div>
                        <div class="sixchat">
                          <img src="../../assets/img/2.jpg" class="img-fluid">
                          <h6></h6>
                        </div>
                      </div>
                      <div class="input-group mb-3 inputchat">
                        <input type="text" class="form-control" placeholder="Send Message" aria-label="Send Message"
                          aria-describedby="button-addon2" id="inputInfo">
                        <button type="button" class="btn btn-outline-primary">Send</button>


                        <div class="input-group-append">


                        </div>
                      </div>

                      
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="page2" class="responsive">
                    <div class="outputdata d-flex flex-column justify-content-between " id="chat">
                      <div class="new2">
                        <div class="one">
                          <img src="../../assets/img/3.jpg" class="img-fluid">
                          <p>hello! </p>
                        </div>
                        <div class="two">
                          <img src="../../assets/img/2.jpg" class="img-fluid">
                          <p>hello</p>
                        </div>
                        <div class="three">
                          <img src="../../assets/img/3.jpg" class="img-fluid">
                        <p>my name is navigator</p>
                        </div>
                        <div class="four">
                          <img src="../../assets/img/2.jpg" class="img-fluid">
                          <h6></h6>
                        </div>
                        <div class="five">
                          <img src="../../assets/img/3.jpg" class="img-fluid">
                          <h6></h6>
                        </div>
                        <div class="six">
                          <img src="../../assets/img/2.jpg" class="img-fluid">
                          <h6></h6>
                        </div>
                      </div>

                      <div class="inputdata mb-3">


                        <div class="input-group mb-3 inputchat">
                          <input type="text" class="form-control rounded-sm" placeholder="Send Message" aria-label="Send Message"
                            aria-describedby="button-addon2" id="inputInfo">
                          <button type="button" class="btn btn-outline-danger rounded-sm">Send</button>


                          <div class="input-group-append">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>






      <div class="col-sm-7 contactimg ">
<img src="../../assets/img/Facebook-Messenger-Chatbot-for-Lead-Generation-760x400.png" alt="" class="img-fluid">

      </div>
    </div>
  </div>

  <div id="chat-button">
    <button routerLink="/history" class="start-chat btn" >
    </button>
  
  </div>
  