<div class="navcontainer">


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid w-75 m-auto">
      
      <a class="navbar-brand" href="https://www.novomind-mea.com/" target="_blank">
      <img src="../../assets/img/logo-novomind.png" class="img-fluid logo" ></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="chat">Chat-Bot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="history">API</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="home">Design</a>
          </li> -->
          
           
         
        </ul>
       
      </div>
    </div>
    </nav> 
  
</div>